<%- include ("partials/header") %>


<div class="container text-center"style="width: 30%;">

	<h1 style="color: #08afee;">
		Sign Up
	</h1>

	<form class="form-group " action="/register" method="POST">
		<label>Username</label>
		<input class="form-control" type="text" name="username" placeholder="Enter username">
		<input class="form-control" type="password" name="password" placeholder="Enter password"style="margin-top: 10px;">
		<!-- <input class="form-control" type="password" name="adminCode" placeholder="Enter Admin Code"style="margin-top: 10px;"> -->
		<button class="btn btn-primary btn-block"style="margin-top: 10px;">
			Sign Up
		</button>
	</form>
</div>
<%- include ("partials/footer") %>